
@import "../../../styles/variables.module.scss";

.footer_container {
  height: 100px;
  line-height: 100px;
  background: rgba(0, 0, 0, 0.05);
  font-size: 14px;
  color: $subtext-color;
  text-align: center;
}
